name: GitHub Classroom Autograding
on: [push]
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  build:
    name: Autograding
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install puppeteer
      - name: Run tests
        # Agregamos este comando para arreglar el error del Sandbox en Linux
        run: sed -i "s/puppeteer.launch()/puppeteer.launch({ args: ['--no-sandbox'] })/g" test.js && node test.js
